* {
	margin: 0;
	padding: 0;
	border: 0;

	outline: none;
	text-decoration: none;
	outline: none;

	font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
	}

ol,
ul,
li {
	list-style: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a img {
	border: none;
}

button,
a {
	cursor: pointer;
	color: inherit;
}

textarea {
	resize: none;
}

textarea,
select {
	appearance: none !important;
	-webkit-appearance: none !important;
	border-radius: 0;
}

body {
    
    background-color:#666;
}

.topnav {
    position: fixed;
    
    width: 100%;
    height: 80px;

    background-color: #fff;
    border-bottom: 1px solid #666;

    z-index: 20;
}

.currency {
    
    position:absolute;
    left: 60px;
    top: 60px;
    
    font-size: 36px;
   
    
    color: #666;    
    
}

.topnav button.material-icons.md-36 {
    
    position:absolute;
    top:20px;
    right: 60px;
    justify-content: center;
    color: #666;
    background-color: #fff;
    font-size: 36px;    
  
}

.topnav button.material-icons.outlined {
    
    position:absolute;
    top: 20px;
    left: 60px;
    justify-content: center;
    color: #666;
    background-color: #fff;
    font-size: 36px;    
  
}

.container {
    display: flex;
    flex-wrap: wrap; 
    position: absolute;
    align-items: center;
    justify-content: center;     
    max-width: 1280px;
    margin: auto;
    margin-top: 80px;
}

.card {
    
    position: relative;
    border: 0.15rem solid #fff;
    max-width: 1200px;
    margin: 30px;
    background-color: #fff;
    padding: 40px;
    box-shadow: 10px 5px 5px rgba(0,0,0,0.25)
    
}


.textcontainer {
    margin: 30px;
}

.title {
    color: #666;
    font-size: 18px;
    border-bottom: #666 solid;
    text-align: center;
}

.sub {
    color: #fff;
    height: 160px;
    width: 160px;
    font-size: 80px;
    background-color: #666;
    border-radius: 50%;
    text-align: center;
    top: 50%;
}

.text {
    color: #666;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
  }

.card button {
    position: absolute;
    bottom: -25px;
    left: 25%;
    width: 160px;
    height: 50px;
    text-align: center;
    font-size: 14px;
    color: #666;
    background-color:#fff;
    border-radius: 15px;
    border-color: #666;
    border-style: solid;
 
}

.card button .material-icons.md-36 {
    
    position: absolute;
    top: 10px;
    right: 0px;

    color: #fff;
    font-size: 36px; 
}

button:hover {
    color: #666;
    background-color:#fff;
    
}

button:hover .material-icons.md-36 {
    color:#666;
}
